<!DOCTYPE html>
<html>
    <head>
        <title>WeatherSpy</title>
        <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        </style>
    </head>                                

    <body>
		<a href="/update/">Update Forecasts</a>
		</br>
		</br>
        <h1>Forecasts from <a href='http://openweathermap.org'>openweathermap.org</a></h1>

    <table>
        <tr>
            <th>City</th>
            <th>Country</th>
	        {% for d in dates %}
	            <th>{{d}}</th>
	        {% endfor %}
            <th>Alert</th>
        </tr>
        {% for f in forecast_list %}
          <tr>
            <td>{{ f.city_name }}</td>
            <td>{{ f.country_code }}</td>
    	    {% for t in f.forecast.values %}
        	    <td>{{t}}</td>       
	        {% endfor %}
            <td>{{ f.alerted }}</td>
          </tr>
        {% endfor %}
    </table>

    </body>

</html>